<div class="flex-center min-h-full">
    <div class="card-container-wrapper">
      <mat-card class="card-container card-ready">
        <mat-card-content>
          <h1 class="Title">I'm ready...</h1>
          <p class="font">
            Connect with Ivy Tech Community College - Noblesville to discuss your
            Logistician career!
            <br /><br />
            Preferred method(s) of contact:
          </p>
          <mat-checkbox><b>317-867-5309</b></mat-checkbox>
          <mat-checkbox><b>jschmoegmail.com</b></mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="btn">
            Submit my contact request!
          </button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="card-container card-assistance">
        <mat-card-content>
          <h1 class="like"><b>I'd like assistance...</b></h1>
          <p class="custom">
              Questions about how to pursue a Logistician career? WorkOne can help!
            </p>
            <ul class="custom">
              <li>Paying for training</li>
              <li>Balancing training while working</li>
              <li>Something about the chatbot</li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="btn1">Connect with <b>Work</b><b class="one">One</b></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  