<div class="flex-center w-full min-h-full">
    <div class="w-75">
        <div class="w-full flex-center">
            <h1 class="txtRecommendations">My recommendations</h1>
            <span class="spacer"></span>
            <div>
                <mat-icon>manage_accounts</mat-icon>
                My Settings
            </div>
        </div>
        <div class="topRecommendedCard w-full">
            <div class="headerRecommended w-full">
                <mat-icon>hotel_class</mat-icon>Top recommended!
            </div>
            <div class="bodyRecommended w-full">
                <h1 class="mainTxt">Logistician</h1>
                <h2 class="descrElipsis  w-75">Logisticians oversees the process of moving goods from production to
                    consumption an important thing bla bla bla bla bla bla bla bla bla bla</h2>
                <div class="flex-center skillsContainer">
                    <div *ngFor="let btnSk of SkillsBtns">
                        <button mat-mini-fab class="btnMinFb"><mat-icon>{{btnSk.icon}}</mat-icon></button>
                        {{btnSk.desc}}
                    </div>
                </div>
                <button class="gradient-button flex-center" routerLink="/jobs/123"><span class="txtBtn-gradient">View details</span>
                    <mat-icon>arrow_forward</mat-icon></button>
            </div>
        </div>
        <div class="w-full" style="margin-top: 2rem;" >
            <div class="w-full" style="text-align: center;">
                <app-other-recommendations *ngIf="!bShowOtherRecomm"></app-other-recommendations>
                <h3 class="txt-other-recomm" (click)="bShowOtherRecomm = !bShowOtherRecomm">{{ bShowOtherRecomm ? 'Show' : 'Hidde'}} 13 other recommendations</h3>
            </div>
        </div>
    </div>
</div>