<div class="home-container">
    <mat-card class="claims-card">
      <mat-card-header>
        <mat-card-title>Claims</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="claims-table">
          <thead>
            <tr>
              <th>Claim status</th>
              <th>Program</th>
              <th>BYE</th>
              <th>Paid to Date</th>
              <th>MBA</th>
              <th>WBA</th>
              <th>RBA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let claim of claims" class="hvrPush">
              <td>{{ claim.claim_status }}</td>
              <td>{{ claim.program }}</td>
              <td>{{ claim.BYE.value }}</td>
              <td>{{ claim.paid_to_date | customCurrency }}</td>
              <td>{{ claim.mba | customCurrency }}</td>
              <td>{{ claim.wba | customCurrency }}</td>
              <td>{{ claim.rba | customCurrency }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  