<div class="flex-center w-full min-h-full">
    <div class="w-75 flex-center">
        <div class="w-full flex-center">
            <mat-icon class="messageIcon">forum</mat-icon>
        </div>
        <div class="w-full flex-center" style="margin-top: 3rem;">
            <h1 class="txtSent">Contact request sent!</h1>
        </div>
        <div class="w-50 flex-center" style="margin-top: 5rem;">
            <h3 class="txtLabel">A simple summary about what just happened and what is going to happen next and
                when (i.e. you'll be contacted by so-and-so within "timeframe").
                "Reference phone # and email address so they know to expect this" </h3>
        </div>
        <div class="w-full flex-center" style="margin-top: 2rem;">
            <button class="gradient-button" routerLink="/recommendations"><mat-icon
                    class="icon-btn">arrow_back</mat-icon>Back to
                training
                recommendations
            </button>
        </div>
    </div>
</div>