.messageIcon {
    scale: 5;
    color: var(--primary-color);
}

.txtSent {
    font-size: 3rem;
    color: var(--primary-color);
    margin-top: 3rem;
}

.gradient-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #a810d2, #1ea1f2);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.icon-btn {
    margin-right: 0.5rem;
}


// .gradient-button:hover {
//     opacity: 1.2;
// }